@model ApotheGSF.Models.Medicamentos

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container shadow-lg p-3 rb-5 bg-white rounded col-md-7">
        <div class="card">
            <div class="card-header text-center" style="background-color:#00CC66;">
                <h3 class="display-8" style="color:white;"><i class="fa-solid fa-capsules"></i>&nbsp;Crear Medicamento</h3>
            </div>
            <!--datos-->
            <div class="card-body">

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Nombre" class="col-form-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre">
                        </div>
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="NombreCientifico" class="col-form-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" asp-for="NombreCientifico" class="form-control" placeholder="Nombre Cientifico" />
                        </div>
                        <span asp-validation-for="NombreCientifico" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Categoria" class="col-form-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-tags"></i></span>
                            </div>
                            <select asp-for="Categoria" class="form-control"placeholder="Seleccione una Categoria">
                                <option value="">Seleccione una Categoria</option>
                                <option value="Analgesicos">Analgésicos</option>
                                <option value="Antiacidos y Antiulcerosos">Antiácidos y Antiulcerosos</option>
                                <option value="Antialergicos">Antialérgicos</option>
                                <option value="Antidiarreicos y Laxantes">Antidiarreicos y Laxantes</option>
                                <option value="Antiinfecciosos y Antivial">Antiinfecciosos y Antivial</option>
                                <option value="Antiinflamatorios">Antiinflamatorios</option>
                                <option value="Antipireticos">Antipiréticos</option>
                                <option value="Antitusivos y Mucoliticos">Antitusivos y Mucolíticos</option>
                                <option value="Antidepresivos">Antidepresivos</option>
                                <option value="Anticonceptivos">Anticonceptivos</option>
                            </select>
                        </div>
                        <span asp-validation-for="Categoria" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Sustancia" class="col-form-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-prescription-bottle"></i></span>
                            </div>
                            <select asp-for="Sustancia" class="form-control" placeholder="Seleccione una Sustancia">
                                <option value="">Seleccione una Sustancia</option>
                                <option value="Liquida">Líquida</option>
                                <option value="Solida">Sólida</option>
                                <option value="Semi-Sólida">Semi-Sólida</option>
                                <option value="Otras">Otras</option>
                            </select>
                        </div>
                        <span asp-validation-for="Sustancia" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Concentracion" class="col-form-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-pills"></i></span>
                            </div>
                            <input class="form-control" asp-for="Concentracion" type="text" placeholder="0 mg">
                        </div>
                        <span asp-validation-for="Concentracion" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="UnidadesCaja" class="col-form-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-tablets"></i></span>
                            </div>
                            <input class="form-control" asp-for="UnidadesCaja" type="number" placeholder="0" onchange="AsignarPrecio()">
                        </div>
                        <span asp-validation-for="UnidadesCaja" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Reorden" class="col-form-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-exclamation-circle"></i></span>
                            </div>
                            <input class="form-control" asp-for="Reorden" type="text" placeholder="Reorden">
                        </div>
                        <span asp-validation-for="Reorden" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Detallable" class="col-form-label"></label>
                        <div class="input-group text-center">
                            <div class="form-check col-sm-6">
                                <input asp-for="Detallable" class="form-check-input" type="radio" value="true">
                                <label class="form-check-label" asp-for="Detallable">SI</label>
                            </div>
                            <div class="form-check col-sm-6">
                                <input asp-for="Detallable" class="form-check-input" type="radio" value="false">
                                <label class="form-check-label" asp-for="Detallable">NO</label>
                            </div>
                        </div>
                        <span asp-validation-for="Detallable" class="text-danger"></span>
                    </div>
                </div>

                <!--Fin datos-->
            </div>
            <div class="card-footer text-center" style="background-color:#00CC66 ;">
                <!--Botones-->
                <button class="btn btn-secondary" type="button" style="background-color:white;color:#494949;"><i class="fas fa-file"></i>&nbsp;Nuevo</button>
                <button class="btn " value="Create" type="submit" style="background-color:white;color:#008F00;"><i class="fas fa-save"></i>&nbsp;Guardar</button>
                <a class="btn" asp-controller="Home" asp-action="Index" style="background-color:white;color:red;" type="button"><i class="fas fa-times"></i>&nbsp;Cancelar</a>
                <!--Fin Botones-->
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
	}
