@model ApotheGSF.ViewModels.MedicamentosViewModel

@{
    ViewData["Title"] = "Edit";
}
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container shadow-lg p-3 rb-5 bg-white rounded col-md-7">
        <div class="card">
            <div class="card-header text-center" style="background-color:#00CC66;">
                <h3 class="display-8" style="color:white;"><i class="fa-solid fa-capsules"></i>&nbsp;Modificar Medicamento</h3>
            </div>
            <!--datos-->
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="col-form-label">Nombre:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre">
                        </div>
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label">Proveedores:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-flask"></i></span>
                            </div>
                            <div>
                                <select asp-for="CodigosProveedores" class="form-control select2" asp-items="ViewBag.CodigoProveedores"></select>
                            </div>
                            <span asp-validation-for="CodigosProveedores" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="col-form-label">Categoria:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-tags"></i></span>
                            </div>
                            <select asp-for="Categoria" class="form-control">
                                <option selected disabled>Seleccione una Categoria</option>
                                <option value="Analgesicos">Analgésicos</option>
                                <option value="Antiacidos y Antiulcerosos">Antiácidos y Antiulcerosos</option>
                                <option value="Antialergicos">Antialérgicos</option>
                                <option value="Antidiarreicos y Laxantes">Antidiarreicos y Laxantes</option>
                                <option value="Antiinfecciosos y Antivial">Antiinfecciosos y Antivial</option>
                                <option value="Antiinflamatorios">Antiinflamatorios</option>
                                <option value="Antipireticos">Antipiréticos</option>
                                <option value="Antitusivos y Mucoliticos">Antitusivos y Mucolíticos</option>
                                <option value="Antidepresivos">Antidepresivos</option>
                                <option value="Anticonceptivos">Anticonceptivos</option>
                            </select>
                        </div>
                        <span asp-validation-for="Categoria" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label">Sustancia:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-prescription-bottle"></i></span>
                            </div>
                            <select asp-for="Sustancia" class="form-control">
                                <option selected disabled>Seleccione una Sustancia</option>
                                <option value="Liquida">Líquida</option>
                                <option value="Solida">Sólida</option>
                                <option value="Semi-Sólida">Semi-Sólida</option>
                                <option value="Otras">Otras</option>
                            </select>
                        </div>
                        <span asp-validation-for="Sustancia" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="col-form-label">Concentración:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-pills"></i></span>
                            </div>
                            <input class="form-control" asp-for="Concentracion" type="text" placeholder="0 mg">
                        </div>
                        <span asp-validation-for="Concentracion" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label">Unidades por Caja:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-tablets"></i></span>
                            </div>
                            <input class="form-control" asp-for="UnidadesCaja" type="number" placeholder="0" onchange="AsignarPrecio()">
                        </div>
                        <span asp-validation-for="UnidadesCaja" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="col-form-label">Costo:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                            </div>
                            <input class="form-control" asp-for="Costo" type="number" placeholder="0.00 $" onchange="AsignarPrecio()">
                            <span asp-validation-for="Costo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label">Precio por Unidad:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                            </div>
                            <input class="form-control" asp-for="PrecioUnidad" type="number" placeholder="0.00 $" readonly>
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="col-form-label">Indicaciones</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-list"></i></span>
                            </div>
                            <textarea class="form-control" asp-for="Indicaciones" type="textarea" placeholder="Indicaciones" rows="3"></textarea>
                        </div>
                        <span asp-validation-for="Indicaciones" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label for="Direccion" class="col-form-label">Dosis</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-exclamation-circle"></i></span>
                            </div>
                            <input class="form-control" asp-for="Dosis" type="text" placeholder="0">
                        </div>
                        <span asp-validation-for="Dosis" class="text-danger"></span>
                    </div>
                </div>
                <!--Fin datos-->
            </div>
            <div class="card-footer text-center" style="background-color:#00CC66 ;">
                <input type="hidden" asp-for="Codigo" />
                <!--Botones-->
                <button class="btn" type="submit" style="background-color:white;color:#008F00;"><i class="fas fa-save"></i>&nbsp;Actualizar</button>
                <a class="btn" asp-controller="Home" style="background-color:white;color:red;" asp-action="Index" type="button"><i class="fas fa-times"></i>&nbsp;Cancelar</a>
                <!--Fin Botones-->
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/AsignarPrecio.js"></script>
    }
