@model ApotheGSF.ViewModels.CorreoViewModel

@{
    ViewData["Title"] = "EnviarCorreo";
}
<form asp-action="EnviarCorreo">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container shadow-lg p-3 rb-5 bg-white rounded col-md-7">
        <div class="card">
            <div class="card-header text-center" style="background-color:#008F8F;">
                <h3 class="display-8" style="color:white;"><i class="fas fa-at"></i>&nbsp;Enviar Correo&nbsp<i class="fas fa-at"></i></h3>
            </div>
            <div class="card-body">
                <label class="form-group">Medicamento:</label>
                <input type="text" class="form-control" asp-for="NombreMedicamento" readonly />

                <label class="form-group">Proveedor:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-flask"></i></span>
                    </div>
                    <select asp-for="CodigoProveedor" class="form-control" asp-items="ViewBag.ProveedoresId"></select>
                </div>

                <label class="control-label">Lotes:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-box"></i></span>
                    </div>
                    <input asp-for="Cajas" class="form-control" type="number" placeholder="0"/>
                </div>
                <span asp-validation-for="Cajas" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer text-center" style="background-color:#008F8F;">
            <button type="submit" class="btn" value="EnviarCorreo" style="background-color:white;color:#008F8F;"><i class="fas fa-envelope"></i>&nbsp;Enviar</button>
        </div>
    </div>
</form>
