@model ApotheGSF.Models.Proveedores

@{
    ViewData["Title"] = "Create";
}

<div class="form-group row">
    <div class="form-group col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="container shadow-lg p-3 rb-5 bg-white rounded col-md-8">
                <div class="card">
                    <div class="card-header text-center" style="background-color: #7F0099;">
                        <h3 class="display-8" style="color:white;"><i class="fas fa-flask"></i>&nbsp;Crear Proveedor</h3>
                    </div>
                    <!--datos-->
                    <div class="card-body">                        
                        <!--Nombre-->
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label class="col-form-label">Nombre:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                <input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-form-label">RNC:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                    </div>
                                <input type="text" asp-for="RNC" class="form-control" placeholder="RNC">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label class="col-form-label">Telefono_1:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                                    </div>
                                <input type="tel" class="form-control" asp-for="Telefono1" placeholder="___-____-____">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-form-label">Telefono_2:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                                    </div>
                                <input type="tel" class="form-control" asp-for="Telefono2" placeholder="___-____-____">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label class="col-form-label">Fax:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                                    </div>
                                <input type="text" asp-for="Fax" class="form-control" placeholder="Fax">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-form-label">Dirección:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-address-book"></i></span>
                                    </div>
                                <input type="text" asp-for="Direccion" class="form-control" placeholder="Dirección">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label class="col-form-label">Email:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                <input type="email" asp-for="Email" class="form-control" placeholder="Example@Something.com">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-form-label">Terminos de Pago:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-file-alt"></i></span>
                                    </div>
                                <input type="text" asp-for="TerminosdePago" class="form-control" placeholder="Terminos">
                                </div>
                            </div>
                        </div>     
                        <!--Fin datos-->
                    </div>
                    <div class="card-footer text-center" style="background-color: #7F0099 ;">
                        <!--Botones-->
                        <button class="btn btn-secondary" type="reset" style="background-color:#B3B3B3;color:black;"><i class="fas fa-file"></i>&nbsp;Nuevo</button>
                        <button class="btn btn-success" value="Create" type="submit" style="background-color:#008F00;color:white;"><i class="fas fa-save"></i>&nbsp;Guardar</button>
                        <a class="btn btn-danger" asp-controller="Home" asp-action="Index" type="button"><i class="fas fa-times"></i>&nbsp;Cerrar</a>
                        <!--Fin Botones-->
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-2">
	</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
