@{
	ViewData["Title"] = "NotFound";
}
<br /><br /><br /><br />
<section class="content">
	<div class="error-page">
		<h2 class="headline text-yellow"> 404</h2>

		<div class="error-content">
			<h3><i class="fa fa-warning text-yellow"></i> Oops! Página no encontrada.</h3>

			<p>
				No econtramos la página que andas buscando.<br />
				Mientras tanto puedes presionar la opción de retroceso de tu navegador para volver a la pantalla anterior.
			</p>
		</div>
	</div>
</section>
