@model ApotheGSF.ViewModels.UsuarioViewModel
@{
    ViewData["Title"] = "Delete";
}
<div class="form-group row">
	<div class="form-group col-sm-10">
		<form asp-action="Delete">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="container shadow-lg p-3 rb-5 bg-white rounded col-md-8">
				<div class="card">
					<div class="card-header text-center" style="background-color:#006699 ;">
						<h3 class="display-8" style="color:white;">Delete Usuario</h3>
					</div>
					<!--datos-->
					<div class="card-body">
						<div class="form-group row">
							<div class="col-sm-4">
								<label for="Codigo" class="col-form-label">Código</label>
							</div>
							<div class="col-sm-8 row">
								<div class="col-sm-9">
									<input type="text" asp-for="Id" class="form-control" placeholder="0">
								</div>
								<div class="col-sm-1">
									<button class="btn btn-primary" type="button">Buscar</button>
								</div>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-4">
								<label for="Nombre" class="col-form-label">Nombre</label>
							</div>
							<div class="col-sm-8">
								<input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre">
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-4">
								<label for="Apellido" class="col-form-label">Appellido</label>
							</div>
							<div class="col-sm-8">
								<input type="text" asp-for="Apellido" class="form-control" placeholder="Apellido">
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-4">
								<label for="Telefono" class="col-form-label">Teléfono</label>
							</div>
							<div class="col-sm-8">
								<input type="tel" asp-for="Telefono" class="form-control" placeholder="___-____-____">
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-4">
								<label for="Cedula" class="col-form-label">Cédula</label>
							</div>
							<div class="col-sm-8">
								<input type="text" asp-for="Cedula" class="form-control" placeholder="___-_______-_">
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-4">
								<label for="FechaNacimiento" class="col-form-label">Fecha de Nacimiento</label>
							</div>
							<div class="col-sm-8">
								<input type="Date" asp-for="FechaNacimiento" class="form-control">
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-4">
								<label for="Direccion" class="col-form-label">Dirección</label>
							</div>
							<div class="col-sm-8">
								<input type="text" asp-for="Direccion" class="form-control" placeholder="Dirección">
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-4">
								<label for="Email" class="col-form-label">Email</label>
							</div>
							<div class="col-sm-8">
								<input class="form-control" asp-for="Email" type="email" placeholder="Example@Something.com">
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-4">
								<label for="NombreUsuario" class="col-form-label">Nombre de Usuario</label>
							</div>
							<div class="col-sm-8">
								<input class="form-control" asp-for="Usuario" type="text" placeholder="Nombre Usuario">
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-4">
								<label for="Contrasena" class="col-form-label">Contraseña</label>
							</div>
							<div class="col-sm-8">
								<input class="form-control" asp-for="Password" type="text" placeholder="Contraseña">
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-4">
								<label class="col-form-label">Confirmar Contraseña</label>
							</div>
							<div class="col-sm-8">
								<input class="form-control" asp-for="ConfirmarPassword" type="text" placeholder="...">
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-4">
								<label class="col-form-label" for="Roles">Roles</label>
							</div>
							<div class="col-sm-8">
								<select class="form-control" asp-for="Rol">
									<option selected disabled>Seleccione Los roles del Usuario</option>
									<option value="Administrador">Administrador</option>
									<option value="Comprador">Comprador</option>
									<option value="Vendedor">Vendedor</option>
								</select>
							</div>
						</div>
						<!--Fin datos-->
					</div>
					<div class="card-footer text-center" style="background-color:#006699 ;">
						<!--Botones-->
						<a class="btn btn-danger" value="Delete" type="button">Eliminar</a>
						<a class="btn btn-danger" asp-controller="Usuarios" asp-action="Index" type="button">Cerrar</a>
						<!--Fin Botones-->
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-sm-2">
	</div>
</div>
