@model ApotheGSF.ViewModels.MedicamentosCajasViewModel

@{
    ViewData["Title"] = "Create";
}
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container shadow-lg p-3 rb-5 bg-white rounded col-md-7">
        <div class="card">
            <div class="card-header text-center" style="background-color:#994400;">
                <h3 class="display-8" style="color:white;"><i class="fas fa-store"></i>&nbsp;Crear Lote de Medicamento</h3>
            </div>

            <div class="card-body">
                <label asp-for="NombreMedicamento" class="form-group"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-capsules"></i></span>
                    </div>
                    <select asp-for="CodigoMedicamento" class="form-control" placeholder="Seleccione el Medicamento" asp-items="ViewBag.MedicamentosId" onchange="AsignarPrecio()">
                        <option value="">Seleccione el Medicamento</option>
                    </select>
                </div>


                <label asp-for="CodigoLaboratorio" class="col-form-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-flask"></i></span>
                    </div>
                    <select asp-for="CodigoLaboratorio" class="form-control" placeholder="Seleccione un Laboratorio" asp-items="ViewBag.LaboratoriosId">
                        <option value="">Seleccione un Laboratorio</option>
                    </select>
                </div>
                <div>
                    <span asp-validation-for="CodigoLaboratorio" class="text-danger"></span>
                </div>



                <label asp-for="Cajas" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-box"></i></span>
                    </div>
                    <input asp-for="Cajas" class="form-control" />
                </div>
                <div>
                    <span asp-validation-for="Cajas" class="text-danger"></span>
                </div>


                <label asp-for="Costo" class="col-form-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                    </div>
                    <input class="form-control" asp-for="Costo" type="number" placeholder="0.00 $" onchange="AsignarPrecio()">
                </div>
                <div>
                    <span asp-validation-for="Costo" class="text-danger"></span>
                </div>


                <label asp-for="PrecioUnidad" class="col-form-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                    </div>
                    <input readonly class="form-control" asp-for="PrecioUnidad" type="number" placeholder="0.00 $">
                </div>
                <div>
                    <span asp-validation-for="PrecioUnidad" class="text-danger"></span>
                </div>


                <label asp-for="FechaAdquirido" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                    </div>
                    <input type="date" asp-for="FechaAdquirido" class="form-control" />
                </div>
                <div>
                    <span asp-validation-for="FechaAdquirido" class="text-danger"></span>
                </div>



                <label asp-for="FechaVencimiento" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                    </div>
                    <input type="date" asp-for="FechaVencimiento" class="form-control" />
                </div>
                <div>
                    <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
                </div>



            </div>
            <div class="card-footer text-center" style="background-color:#994400;">
                <button class="btn" type="reset" style="background-color:white;color:#494949;"><i class="fas fa-file"></i>&nbsp;Nuevo</button>
                <button type="submit" class="btn" style="background-color:white;color:#008F00;"><i class="fas fa-save"></i>&nbsp;Guardar</button>
                <a class="btn" asp-controller="Home" asp-action="Index" style="background-color:white;color:red;" type="button"><i class="fas fa-times"></i>&nbsp;Cancelar</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function AsignarPrecio() {
            var costo = document.getElementById('Costo').value;
            var codigo = document.getElementById('CodigoMedicamento').value;

            $.ajax({
                data: { CodigoMedicamento: codigo },
                type: "POST",
                url: '/Medicamentos/ObtenerUnidades',
                success: function(unidades) {
                    if (unidades > 0 && costo > 0) {
                        document.getElementById('PrecioUnidad').value = ((costo * 1.10) / unidades).toFixed(2);
                    }
                    else {
                        document.getElementById('PrecioUnidad').value = 0.00
                    }
                }
            });
        };
    </script>
    @*<script src="~/js/AsignarPrecio.js"></script>*@
    }
