@model ApotheGSF.ViewModels.MedicamentosCajasViewModel

@{
    ViewData["Title"] = "Create";
}
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container shadow-lg p-3 rb-5 bg-white rounded col-md-7">
        <div class="card">
            <div class="card-header text-center" style="background-color:#994400;">
                <h3 class="display-8" style="color:white;"><i class="fas fa-store"></i>&nbsp;Crear Lote de Medicamento</h3>
            </div>

            <div class="card-body">
                <label class="form-group">Medicamento:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-capsules"></i></span>
                    </div>
                    <select asp-for="CodigoMedicamento" class="form-control" placeholder="Seleccione el Medicamento" asp-items="ViewBag.MedicamentosId">
                        <option value="">Seleccione el Medicamento</option>
                    </select>
                </div>
                <label class="control-label">Lotes:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-box"></i></span>
                    </div>
                    <input asp-for="Cajas" class="form-control" />
                </div>
                <div>
                    <span asp-validation-for="Cajas" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <label asp-for="CodigoLaboratorio" class="col-form-label"></label>
                    <div class="input-group">
                        <input type="text" asp-for="CodigoLaboratorio" class="form-control"/>

                    </div>
                    <span asp-validation-for="CodigoLaboratorio" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label class="col-form-label">Costo:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                        </div>
                        <input class="form-control" asp-for="Costo" type="number" placeholder="0.00 $" onchange="AsignarPrecio()">
                    </div>
                    <span asp-validation-for="Costo" class="text-danger"></span>
                </div>
                <label class="control-label">Fecha de Adquisición:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                    </div>
                    <input type="date" asp-for="FechaAdquirido" class="form-control" />
                </div>
                <div>
                    <span asp-validation-for="FechaAdquirido" class="text-danger"></span>
                </div>
                <label class="control-label">Fecha de Vencimiento:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                    </div>
                    <input type="date" asp-for="FechaVencimiento" class="form-control" />
                </div>
                <div>
                    <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer text-center" style="background-color:#994400;">
                <button class="btn" type="reset" style="background-color:white;color:#494949;"><i class="fas fa-file"></i>&nbsp;Nuevo</button>
                <button type="submit" class="btn" style="background-color:white;color:#008F00;"><i class="fas fa-save"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
