@model ApotheGSF.ViewModels.FacturaViewModel

@{
    ViewData["Title"] = "Create";

    int MedicamentoId = 1;
    int TipoCantidad = 1;
    int Cantidad = 0;
}

<form asp-action="Create" id="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container shadow-lg p-3 rb-5 bg-white rounded col-md-11">
        <div class="card">
            <div class="card-header text-center" style="background-color:#990000;">
                <h3 class="display-8" style="color:white;"><i class="fa-solid fa-cash-register"></i>&nbsp;Facturacion de Medicamento&nbsp;<i class="fa-solid fa-cash-register"></i></h3>
            </div>
            <!--datos-->
            <div class="card-body">
                @*
                <div class="form-group row">
                    <div class="col-sm-1">
                        <label class="col-form-label">Código</label>
                    </div>

                    <div class="col-sm-2 row">
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary" type="button">Buscar</button>
                        </div>
                    </div>

                    <div class="col-sm-9 row text-end">
                        @* 

                        // La Fecha seria mejor colocarla en la accion facturar como DateTime.Now al momento de realizar la Factura

                        <div class="col-sm-9">
                            <label for="Cedula" class="col-form-label">Fecha Creacion</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" placeholder="">
                        </div>
                        
                    </div>
                </div>
                *@

                <!--Agregar Medicamento-->
                <div class="form-group row">
                    <div class="col-sm-3">
                        <div class="col">
                            <label class="col-form-label">Medicamento</label>
                            <select asp-for="@MedicamentoId" class="form-control" asp-items="ViewBag.MedicamentosId"></select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col">
                            <label class="col-form-label">TipoCantidad</label>
                            <select asp-for="@TipoCantidad" class="form-control">
                                <option value="1">Cajas</option>
                                <option value="2">Unidades</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col">
                            <label class="col-form-label">Cantidad</label>
                            <div class="form-group input-group col">
                            <input asp-for="@Cantidad" type="number" class="form-control col-sm-5" />
                            <span class="text-end col-sm-7"><button class="btn btn-primary" onclick="AgregarDetalle()" type="button">Agregar</button></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Detalle-->
                <div class="tableFixHead">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Medicamento
                                </th>
                                <th>
                                    Tipo Cantidad
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    Precio
                                </th>
                                <th>
                                    Total
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="ListaDetalle">
                            @Html.EditorFor(model => model.MedicamentosDetalle)
                        </tbody>
                    </table>
                </div>

                <div class="form-group row">
                    <div class="col-sm-8">
                        @*<div class="form-group col-sm-8 row">
                            <div class="col-sm-4">
                                <label for="Estado" class="col-form-label">Estado</label>
                            </div>
                            <div class="col-sm-8">
                                <select asp-for="Estado" type="text" class="form-control">
                                    <option value="Activo">Activo</option>
                                    <option value="Inactivo">Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                        </div>*@
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label for="FechaIngreso" class="col-form-label">SubTotal</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="number" asp-for="SubTotal" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="col-form-label">ITBIS</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" disabled value="0.18">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="col-form-label">Total</label>
                            </div>
                            <div class="col-sm-8">
                                <input asp-for="Total" type="number" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Fin datos-->
            </div>
            <div class="card-footer text-center" style="background-color:#990000;">
                <!--Botones-->
                <button class="btn btn-secondary" type="reset" style="background-color:#B3B3B3;color:black;"><i class="fas fa-file"></i>&nbsp;Nuevo</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <button type="submit" class="btn" style="background-color:#F5F5DC;"><i class="fa-solid fa-cash-register"></i>&nbsp;Facturar</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <a class="btn" asp-controller="Home" asp-action="Index" type="button" style="background-color:#FF8C19;color:black;"><i class="fas fa-times"></i>&nbsp;Cerrar</a>
                <!--Fin Botones-->
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/AgregarFacturaDetalle.js"></script>
    <script src="~/js/RemoverFacturaDetalle.js"></script>

    }
