@model ApotheGSF.Models.Facturas

@{
    ViewData["Title"] = "Edit";
}
<div class="container shadow-lg p-3 rb-5 bg-white rounded col-md-11">
    <div class="card">
        <div class="card-header text-center" style="background-color:#990000;">
            <h3 class="display-8" style="color:white;">Edit Factura</h3>
        </div>
        <!--datos-->
        <div class="card-body">
            <div class="form-group row">
                <div class="col-sm-2">
                    <label for="Matricula" class="col-form-label">Código</label>
                </div>

                <div class="col-sm-6 row">
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="Matricula" id="Matricula"
                               placeholder="0">
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary" type="button">Buscar</button>
                    </div>
                </div>

                <div class="col-sm-4 row">
                    <div class="col-sm-6">
                        <label for="Cedula" class="col-form-label">Fecha Creacion</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" placeholder="">
                    </div>
                </div>
            </div>




            <div class="col-sm-12">
                <label for="Medicamentos" class="col-form-label">Medicamentos</label>
            </div>


            <div class="col-sm-12">
                <textarea type="textarea" class="form-control" placeholder="Medicamentos" required
                rows="15"></textarea>
            </div>

            <div class="form-group row">
                <div class="col-sm-8">
                    <div class="form-group col-sm-8 row">
                        <div class="col-sm-4">
                            <label for="Estado" class="col-form-label">Estado</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="...">
                        </div>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="FechaIngreso" class="col-form-label">SubTotal</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="tel" class="form-control" placeholder="0.00 $">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="Nombre" class="col-form-label">ITBIS</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="0.00 $" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="Apellido" class="col-form-label">Total</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="0.00 $" >
                        </div>
                    </div>
                </div>
            </div>

            <!--Fin datos-->
        </div>
        <div class="card-footer text-center" style="background-color:#990000 ;">
            <!--Botones-->
            <button class="btn" type="submit" style="background-color:#008F00;color:white;">Modificar</button>
            <a class="btn btn-danger" asp-controller="Home" asp-action="Index" type="button">Cerrar</a>
            <!--Fin Botones-->
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
